.cat-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$indent-half-gap;
  margin-right: -$indent-half-gap;
}

.cat-item {
  flex-basis: 25%;
  height: 304px;
  padding: 0 $indent-half-gap;
}

.cat-item-bg {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-position: center;
  background-size: contain;
}

.cat-item-text {
  width: 100%;
  padding: 15px 0;
  margin: 0;
  font-size: 24px;
  line-height: 33px;
  color: $color-white;
  background-color: $shadow;
}
