.cat {
  padding: 130px 0;
  text-align: center;
  background-color: rgba($color-dark, .01);

  @media (max-width: $df-tablet) {
    padding: 120px 10px;
  }

  @media (max-width: $df-mobile) {
    padding: 90px 16px;
  }
}

.cat-main {
  padding: 220px 0 130px;

  @media (max-width: $df-tablet) {
    padding: 210px 10px 130px;
  }

  @media (max-width: $df-mobile) {
    padding: 160px 16px 130px;
  }
}

.cat-inner {
  @include container;
}

.cat-title {
  @include title-h2;
  margin-bottom: 90px;

  @media (max-width: $df-tablet) {
    margin-bottom: 70px;
  }

  @media (max-width: $df-mobile) {
    margin-bottom: 50px;
  }
}

.cat-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 120px;
  margin-left: -$indent-half-gap;
  margin-right: -$indent-half-gap;

  @media (max-width: $df-tablet) {
    margin-bottom: 80px;
  }

  @media (max-width: $df-mobile) {
    display: block;
    margin-bottom: 60px;
  }
}

.cat-item {
  flex-basis: 25%;
  padding: $indent-half-gap;

  @media (max-width: $df-tablet) {
    flex-basis: 50%;
  }
}

.cat-item-wrap {
  position: relative;
  padding-top: 100%;
}

.cat-item-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cat-item-bg {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cat-item-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  margin: 0;
  font-size: 24px;
  line-height: 33px;
  color: $color-white;
  background-color: $shadow;
}
