.order {
  padding: 130px 0;
  text-align: center;
  background-color: rgba($color-dark, .1);

  @media (max-width: $df-tablet) {
    padding: 120px 10px;
  }

  @media (max-width: $df-mobile) {
    padding: 90px 16px;
  }
}

.order-inner {
  @include container;
}

.order-title {
  @include title-h2;
  margin-bottom: 40px;
}

.order-text {
  margin: 0;
  margin-bottom: 90px;
  font-size: 28px;
  line-height: 38px;

  @media (max-width: $df-mobile) {
    font-size: 18px;
    line-height: 25px;
  }
}
