.visual {
  background-image: url('../images/visual-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.visual-shadow {
  background-color: $shadow;
}

.visual-inner {
  @include container;
  padding: 200px 0 214px 0;
  text-align: center;
}

.visual-title {
  margin-bottom: 100px;
  font-family: $font;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  color: $color-white;
}
